body
{	
	margin-left:auto;
	margin-right:auto;
	font-weight:normal;
	width:60%;
	font-size:20;
}

div
{
	margin-left:auto;
	margin-right:auto;
}

img
{
	margin-left:auto;
	margin-right:auto;
}

p
{
	font-size:20;
}
